---

layout: home
H1: <strong class="w3-text-gray"><span class="w3-text-green">Whatsapp</span><br>  Group link to join 2025 (Updated)</strong>
discription: New active Youtube Whatsapp group links sub for sub groups joining links 10k+ links
keywords: youtbe whatsapp group link,sub for sub whatsapp group links
date:   2025-06-04 13:39:30 +0530
P1: Hi We Provide New Updated Whatsapp Group Links In Various categories Like Indian, Crypto, News Etc

---
<div class="w3-row w3-large w3-content w3-text-dark-gray" style="padding: 6px 0px;">
    <div class=" w3-col s9 m9 l9"> 
    <h2 class="w3-large"><strong>YouTube Whatsapp Group Links</strong></h2>

  

       </div> 
       
      <div class="w3-rest" style="margin: 12px 0px;">
      <a href="{{ site.url }}/youtube-whatsapp-group-links.html">
        <div class="w3-row w3-right w3-text-dark-gray w3-small">
          <div class="w3-col" style="margin-top: 4px; width: 50px;">
        
        <strong>View All </strong></div>
      <div class="w3-col w3-right" style="margin-top: 3px; width: 20px;"><svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.4" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#4caf50"/>
<path d="M10.7397 16.2802C10.5497 16.2802 10.3597 16.2102 10.2097 16.0602C9.91969 15.7702 9.91969 15.2902 10.2097 15.0002L13.2097 12.0002L10.2097 9.00016C9.91969 8.71016 9.91969 8.23016 10.2097 7.94016C10.4997 7.65016 10.9797 7.65016 11.2697 7.94016L14.7997 11.4702C15.0897 11.7602 15.0897 12.2402 14.7997 12.5302L11.2697 16.0602C11.1197 16.2102 10.9297 16.2802 10.7397 16.2802Z" fill="#4caf50"/>
</svg></div>
</div></a>
</div>

<img src="{{ site.url }}/images/youtube-whatsapp-group-link.png" alt="YouTube {{ site.title }}" width="100%" style="border-radius: 15px;">
 

    </div>


    
<div class="w3-row" style="padding: 0px;">

  <table style="width: 100%;">
         
              
               <tbody><tr>
                  <th class="w3-left" style="padding-bottom: 12px;">Group Name</th>
                  <th style="padding-bottom: 12px;">Join Link</th>
                </tr>
            
             {% assign ul_YouTube = site.data.YouTube %}

           {% for YouTube in ul_YouTube limit: 10 %}
  <tr>
  <td>{{ YouTube.name }}</td>
    <td><a href="https://{{ YouTube.link }}" target="_blank" rel="noreferrer noopener">Join</a></td>
  </tr>
{% endfor %}

</tbody></table>


</div>
    <div class="w3-row w3-center">
      <a href="{{ site.url }}/youtube-whatsapp-group-links.html"><button class="w3-button w3-round-xxlarge w3-green w3-small w3-center  w3-margin-top" style="padding: 6px 20px;">View All Group Links</button></a>
    </div>

<hr style="margin-bottom: 0px;">

<div class="w3-row w3-large w3-content w3-text-dark-gray" style="padding: 6px 0px;">
    <div class=" w3-col s9 m9 l9"> 
    <h2 class="w3-large"><strong>USA Whatsapp Group Links</strong></h2>
       </div> 
      <div class="w3-rest" style="margin: 12px 0px;">
      <a href="{{ site.url }}/usa-whatsapp-group-links.html">
        <div class="w3-row w3-right w3-text-dark-gray w3-small">
          <div class="w3-col" style="margin-top: 4px; width: 50px;">
        
        <strong>View All </strong></div>
      <div class="w3-col w3-right" style="margin-top: 3px; width: 20px;"><svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.4" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#4caf50"/>
<path d="M10.7397 16.2802C10.5497 16.2802 10.3597 16.2102 10.2097 16.0602C9.91969 15.7702 9.91969 15.2902 10.2097 15.0002L13.2097 12.0002L10.2097 9.00016C9.91969 8.71016 9.91969 8.23016 10.2097 7.94016C10.4997 7.65016 10.9797 7.65016 11.2697 7.94016L14.7997 11.4702C15.0897 11.7602 15.0897 12.2402 14.7997 12.5302L11.2697 16.0602C11.1197 16.2102 10.9297 16.2802 10.7397 16.2802Z" fill="#4caf50"/>
</svg></div>
</div></a>
</div>

<img src="{{ site.url }}/images/usa-whatsapp-group-link.png" alt="YouTube {{ site.title }}" width="100%" style="border-radius: 15px;">
 

    </div>


    
<div class="w3-row" style="padding: 0px;">

 <table style="width: 100%;">
         
              
               <tbody><tr>
                  <th class="w3-left" style="padding-bottom: 12px;">Group Name</th>
                  <th style="padding-bottom: 12px;">Join Link</th>
                </tr>
            
             {% assign ul_USA = site.data.USA %}

           {% for USA in ul_USA limit: 10 %}
  <tr>
  <td>{{ USA.name }}</td>
    <td><a href="https://{{ USA.link }}" target="_blank" rel="noreferrer noopener">Join</a></td>
  </tr>
{% endfor %}

</tbody></table>


</div>

<div class="w3-row w3-center">
     <a href="{{ site.url }}/usa-whatsapp-group-links.html"><button class="w3-button w3-round-xxlarge w3-green w3-small w3-center  w3-margin-top" style="padding: 6px 20px;">View All Group Links</button>
   </a>
    </div>

<hr style="margin-bottom: 0px;">



<div class="w3-row w3-large w3-content w3-text-dark-gray" style="padding: 6px 0px;">
    <div class=" w3-col s9 m9 l9"> 
    <h2 class="w3-large"><strong>Status Whatsapp Group Links</strong></h2>
       </div> 
      <div class="w3-rest" style="margin: 12px 0px;">
      <a href="{{ site.url }}/status-whatsapp-group-links.html">
        <div class="w3-row w3-right w3-text-dark-gray w3-small">
          <div class="w3-col" style="margin-top: 4px; width: 50px;">
        
        <strong>View All </strong></div>
      <div class="w3-col w3-right" style="margin-top: 3px; width: 20px;"><svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.4" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#4caf50"/>
<path d="M10.7397 16.2802C10.5497 16.2802 10.3597 16.2102 10.2097 16.0602C9.91969 15.7702 9.91969 15.2902 10.2097 15.0002L13.2097 12.0002L10.2097 9.00016C9.91969 8.71016 9.91969 8.23016 10.2097 7.94016C10.4997 7.65016 10.9797 7.65016 11.2697 7.94016L14.7997 11.4702C15.0897 11.7602 15.0897 12.2402 14.7997 12.5302L11.2697 16.0602C11.1197 16.2102 10.9297 16.2802 10.7397 16.2802Z" fill="#4caf50"/>
</svg></div>
</div></a>
</div>

    </div>


    <hr style="margin: 0px; margin-bottom: 12px;">
<div class="w3-row" style="padding: 0px;">

 <table style="width: 100%;">
         
              
               <tbody><tr>
                  <th class="w3-left" style="padding-bottom: 12px;">Group Name</th>
                  <th style="padding-bottom: 12px;">Join Link</th>
                </tr>
            
             {% assign ul_Status = site.data.Status %}

           {% for Status in ul_Status limit: 10 %}
  <tr>
  <td>{{ Status.name }}</td>
    <td><a href="https://{{ Status.link }}" target="_blank" rel="noreferrer noopener">Join</a></td>
  </tr>
{% endfor %}

</tbody></table>


</div>

<div class="w3-row w3-center">
     <a href="{{ site.url }}/status-whatsapp-group-links.html"><button class="w3-button w3-round-xxlarge w3-green w3-small w3-center  w3-margin-top" style="padding: 6px 20px;">View All Group Links</button>
    </a>
    </div>

<hr style="margin-bottom: 0px;">


<div class="w3-row w3-large w3-content w3-text-dark-gray" style="padding: 6px 0px;">
    <div class=" w3-col s9 m9 l9"> 
    <h2 class="w3-large"><strong>Popular Whatsapp Group Links</strong></h2>
       </div> 
      <div class="w3-rest" style="margin: 12px 0px;">
      <a href="{{ site.url }}/popular-whatsapp-group-links.html">
        <div class="w3-row w3-right w3-text-dark-gray w3-small">
          <div class="w3-col" style="margin-top: 4px; width: 50px;">
        
        <strong>View All </strong></div>
      <div class="w3-col w3-right" style="margin-top: 3px; width: 20px;"><svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.4" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#4caf50"/>
<path d="M10.7397 16.2802C10.5497 16.2802 10.3597 16.2102 10.2097 16.0602C9.91969 15.7702 9.91969 15.2902 10.2097 15.0002L13.2097 12.0002L10.2097 9.00016C9.91969 8.71016 9.91969 8.23016 10.2097 7.94016C10.4997 7.65016 10.9797 7.65016 11.2697 7.94016L14.7997 11.4702C15.0897 11.7602 15.0897 12.2402 14.7997 12.5302L11.2697 16.0602C11.1197 16.2102 10.9297 16.2802 10.7397 16.2802Z" fill="#4caf50"/>
</svg></div>
</div></a>
</div>

    </div>


    <hr style="margin: 0px; margin-bottom: 12px;">
<div class="w3-row" style="padding: 0px;">

 <table style="width: 100%;">
         
              
               <tbody><tr>
                  <th class="w3-left" style="padding-bottom: 12px;">Group Name</th>
                  <th style="padding-bottom: 12px;">Join Link</th>
                </tr>
            
             {% assign ul_Popular = site.data.Popular %}

           {% for popular in ul_Popular limit: 10 %}
  <tr>
  <td>{{ popular.name }}</td>
    <td><a href="https://{{ Popular.link }}" target="_blank" rel="noreferrer noopener">Join</a></td>
  </tr>
{% endfor %}

</tbody></table>


</div>

<div class="w3-row w3-center">
     <a href="{{ site.url }}/popular-whatsapp-group-links.html"><button class="w3-button w3-round-xxlarge w3-green w3-small w3-center  w3-margin-top" style="padding: 6px 20px;">View All Group Links</button>
    </a>
    </div>

<hr style="margin-bottom: 0px;">



<div class="w3-row w3-large w3-content w3-text-dark-gray" style="padding: 6px 0px;">
    <div class=" w3-col s9 m9 l9"> 
    <h2 class="w3-large"><strong>Pakistani Whatsapp Group Links</strong></h2>
       </div> 
      <div class="w3-rest" style="margin: 12px 0px;">
      <a href="{{ site.url }}/pakistani-whatsapp-group-links.html">
        <div class="w3-row w3-right w3-text-dark-gray w3-small">
          <div class="w3-col" style="margin-top: 4px; width: 50px;">
        
        <strong>View All </strong></div>
      <div class="w3-col w3-right" style="margin-top: 3px; width: 20px;"><svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.4" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#4caf50"/>
<path d="M10.7397 16.2802C10.5497 16.2802 10.3597 16.2102 10.2097 16.0602C9.91969 15.7702 9.91969 15.2902 10.2097 15.0002L13.2097 12.0002L10.2097 9.00016C9.91969 8.71016 9.91969 8.23016 10.2097 7.94016C10.4997 7.65016 10.9797 7.65016 11.2697 7.94016L14.7997 11.4702C15.0897 11.7602 15.0897 12.2402 14.7997 12.5302L11.2697 16.0602C11.1197 16.2102 10.9297 16.2802 10.7397 16.2802Z" fill="#4caf50"/>
</svg></div>
</div></a>
</div>

    </div>


    <hr style="margin: 0px; margin-bottom: 12px;">
<div class="w3-row" style="padding: 0px;">

 <table style="width: 100%;">
         
              
               <tbody><tr>
                  <th class="w3-left" style="padding-bottom: 12px;">Group Name</th>
                  <th style="padding-bottom: 12px;">Join Link</th>
                </tr>
            
             {% assign ul_pakistani = site.data.pakistani %}

           {% for pakistani in ul_pakistani limit: 10 %}
  <tr>
  <td>{{ pakistani.name }}</td>
    <td><a href="https://{{ pakistani.link }}" target="_blank" rel="noreferrer noopener">Join</a></td>
  </tr>
{% endfor %}

</tbody></table>


</div>

<div class="w3-row w3-center">
     <a href="{{ site.url }}/pakistani-whatsapp-group-links.html"><button class="w3-button w3-round-xxlarge w3-green w3-small w3-center  w3-margin-top" style="padding: 6px 20px;">View All Group Links</button>
    </a>
    </div>

<hr style="margin-bottom: 0px;">

<!--indian-->
<div class="w3-row w3-large w3-content w3-text-dark-gray" style="padding: 6px 0px;">
    <div class=" w3-col s9 m9 l9"> 
    <h2 class="w3-large"><strong>Indian Whatsapp Group Links</strong></h2>
       </div> 
      <div class="w3-rest" style="margin: 12px 0px;">
      <a href="{{ site.url }}/indian-whatsapp-group-links.html">
        <div class="w3-row w3-right w3-text-dark-gray w3-small">
          <div class="w3-col" style="margin-top: 4px; width: 50px;">
        
        <strong>View All </strong></div>
      <div class="w3-col w3-right" style="margin-top: 3px; width: 20px;"><svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.4" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#4caf50"/>
<path d="M10.7397 16.2802C10.5497 16.2802 10.3597 16.2102 10.2097 16.0602C9.91969 15.7702 9.91969 15.2902 10.2097 15.0002L13.2097 12.0002L10.2097 9.00016C9.91969 8.71016 9.91969 8.23016 10.2097 7.94016C10.4997 7.65016 10.9797 7.65016 11.2697 7.94016L14.7997 11.4702C15.0897 11.7602 15.0897 12.2402 14.7997 12.5302L11.2697 16.0602C11.1197 16.2102 10.9297 16.2802 10.7397 16.2802Z" fill="#4caf50"/>
</svg></div>
</div></a>
</div>

    </div>


    <hr style="margin: 0px; margin-bottom: 12px;">
<div class="w3-row" style="padding: 0px;">

 <table style="width: 100%;">
         
              
               <tbody><tr>
                  <th class="w3-left" style="padding-bottom: 12px;">Group Name</th>
                  <th style="padding-bottom: 12px;">Join Link</th>
                </tr>
            
             {% assign ul_indian = site.data.indian %}

           {% for indian in ul_indian limit: 10 %}
  <tr>
  <td>{{ indian.name }}</td>
    <td><a href="https://{{ indian.link }}" target="_blank" rel="noreferrer noopener">Join</a></td>
  </tr>
{% endfor %}

</tbody></table>


</div>

<div class="w3-row w3-center">
     <a href="{{ site.url }}/indian-whatsapp-group-links.html"><button class="w3-button w3-round-xxlarge w3-green w3-small w3-center  w3-margin-top" style="padding: 6px 20px;">View All Group Links</button>
    </a>
    </div>

<hr style="margin-bottom: 0px;">

<!--Girls-->
<div class="w3-row w3-large w3-content w3-text-dark-gray" style="padding: 6px 0px;">
    <div class=" w3-col s9 m9 l9"> 
    <h2 class="w3-large"><strong>Girls Whatsapp Group Links</strong></h2>
       </div> 
      <div class="w3-rest" style="margin: 12px 0px;">
      <a href="{{ site.url }}/girls-whatsapp-group-links.html">
        <div class="w3-row w3-right w3-text-dark-gray w3-small">
          <div class="w3-col" style="margin-top: 4px; width: 50px;">
        
        <strong>View All </strong></div>
      <div class="w3-col w3-right" style="margin-top: 3px; width: 20px;"><svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.4" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#4caf50"/>
<path d="M10.7397 16.2802C10.5497 16.2802 10.3597 16.2102 10.2097 16.0602C9.91969 15.7702 9.91969 15.2902 10.2097 15.0002L13.2097 12.0002L10.2097 9.00016C9.91969 8.71016 9.91969 8.23016 10.2097 7.94016C10.4997 7.65016 10.9797 7.65016 11.2697 7.94016L14.7997 11.4702C15.0897 11.7602 15.0897 12.2402 14.7997 12.5302L11.2697 16.0602C11.1197 16.2102 10.9297 16.2802 10.7397 16.2802Z" fill="#4caf50"/>
</svg></div>
</div></a>
</div>

    </div>


    <hr style="margin: 0px; margin-bottom: 12px;">
<div class="w3-row" style="padding: 0px;">

 <table style="width: 100%;">
         
              
               <tbody><tr>
                  <th class="w3-left" style="padding-bottom: 12px;">Group Name</th>
                  <th style="padding-bottom: 12px;">Join Link</th>
                </tr>
            
             {% assign ul_Girls = site.data.Girls %}

           {% for Girls in ul_Girls limit: 10 %}
  <tr>
  <td>{{ Girls.name }}</td>
    <td><a href="https://{{ Girls.link }}" target="_blank" rel="noreferrer noopener">Join</a></td>
  </tr>
{% endfor %}

</tbody></table>


</div>

<div class="w3-row w3-center">
     <a href="{{ site.url }}/girls-whatsapp-group-links.html"><button class="w3-button w3-round-xxlarge w3-green w3-small w3-center  w3-margin-top" style="padding: 6px 20px;">View All Group Links</button>
    </a>
    </div>

<hr style="margin-bottom: 0px;">

<!--Food-->
<div class="w3-row w3-large w3-content w3-text-dark-gray" style="padding: 6px 0px;">
    <div class=" w3-col s9 m9 l9"> 
    <h2 class="w3-large"><strong>Food Whatsapp Group Links</strong></h2>
       </div> 
      <div class="w3-rest" style="margin: 12px 0px;">
      <a href="{{ site.url }}/food-whatsapp-group-links.html">
        <div class="w3-row w3-right w3-text-dark-gray w3-small">
          <div class="w3-col" style="margin-top: 4px; width: 50px;">
        
        <strong>View All </strong></div>
      <div class="w3-col w3-right" style="margin-top: 3px; width: 20px;"><svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.4" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#4caf50"/>
<path d="M10.7397 16.2802C10.5497 16.2802 10.3597 16.2102 10.2097 16.0602C9.91969 15.7702 9.91969 15.2902 10.2097 15.0002L13.2097 12.0002L10.2097 9.00016C9.91969 8.71016 9.91969 8.23016 10.2097 7.94016C10.4997 7.65016 10.9797 7.65016 11.2697 7.94016L14.7997 11.4702C15.0897 11.7602 15.0897 12.2402 14.7997 12.5302L11.2697 16.0602C11.1197 16.2102 10.9297 16.2802 10.7397 16.2802Z" fill="#4caf50"/>
</svg></div>
</div></a>
</div>

    </div>


    <hr style="margin: 0px; margin-bottom: 12px;">
<div class="w3-row" style="padding: 0px;">

 <table style="width: 100%;">
         
              
               <tbody><tr>
                  <th class="w3-left" style="padding-bottom: 12px;">Group Name</th>
                  <th style="padding-bottom: 12px;">Join Link</th>
                </tr>
            
             {% assign ul_Food = site.data.Food %}

           {% for Food in ul_indian limit: 10 %}
  <tr>
  <td>{{ Food.name }}</td>
    <td><a href="https://{{ Food.link }}" target="_blank" rel="noreferrer noopener">Join</a></td>
  </tr>
{% endfor %}

</tbody></table>


</div>

<div class="w3-row w3-center">
     <a href="{{ site.url }}/food-whatsapp-group-links.html"><button class="w3-button w3-round-xxlarge w3-green w3-small w3-center  w3-margin-top" style="padding: 6px 20px;">View All Group Links</button>
    </a>
    </div>

<hr style="margin-bottom: 0px;">

<!--indian-->
<div class="w3-row w3-large w3-content w3-text-dark-gray" style="padding: 6px 0px;">
    <div class=" w3-col s9 m9 l9"> 
    <h2 class="w3-large"><strong>Entertainment Whatsapp Group Links</strong></h2>
       </div> 
      <div class="w3-rest" style="margin: 12px 0px;">
      <a href="{{ site.url }}/entertainment-whatsapp-group-links.html">
        <div class="w3-row w3-right w3-text-dark-gray w3-small">
          <div class="w3-col" style="margin-top: 4px; width: 50px;">
        
        <strong>View All </strong></div>
      <div class="w3-col w3-right" style="margin-top: 3px; width: 20px;"><svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.4" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#4caf50"/>
<path d="M10.7397 16.2802C10.5497 16.2802 10.3597 16.2102 10.2097 16.0602C9.91969 15.7702 9.91969 15.2902 10.2097 15.0002L13.2097 12.0002L10.2097 9.00016C9.91969 8.71016 9.91969 8.23016 10.2097 7.94016C10.4997 7.65016 10.9797 7.65016 11.2697 7.94016L14.7997 11.4702C15.0897 11.7602 15.0897 12.2402 14.7997 12.5302L11.2697 16.0602C11.1197 16.2102 10.9297 16.2802 10.7397 16.2802Z" fill="#4caf50"/>
</svg></div>
</div></a>
</div>

    </div>


    <hr style="margin: 0px; margin-bottom: 12px;">
<div class="w3-row" style="padding: 0px;">

 <table style="width: 100%;">
         
              
               <tbody><tr>
                  <th class="w3-left" style="padding-bottom: 12px;">Group Name</th>
                  <th style="padding-bottom: 12px;">Join Link</th>
                </tr>
            
             {% assign ul_Entertainment = site.data.Entertainment %}

           {% for Entertainment in ul_Entertainment limit: 10 %}
  <tr>
  <td>{{ Entertainment.name }}</td>
    <td><a href="https://{{ Entertainment.link }}" target="_blank" rel="noreferrer noopener">Join</a></td>
  </tr>
{% endfor %}

</tbody></table>


</div>

<div class="w3-row w3-center">
     <a href="{{ site.url }}/entertainment-whatsapp-group-links.html"><button class="w3-button w3-round-xxlarge w3-green w3-small w3-center  w3-margin-top" style="padding: 6px 20px;">View All Group Links</button>
    </a>
    </div>

<hr style="margin-bottom: 0px;">

<!--indian-->
<div class="w3-row w3-large w3-content w3-text-dark-gray" style="padding: 6px 0px;">
    <div class=" w3-col s9 m9 l9"> 
    <h2 class="w3-large"><strong>Dubai Whatsapp Group Links</strong></h2>
       </div> 
      <div class="w3-rest" style="margin: 12px 0px;">
      <a href="{{ site.url }}/dubai-whatsapp-group-links.html">
        <div class="w3-row w3-right w3-text-dark-gray w3-small">
          <div class="w3-col" style="margin-top: 4px; width: 50px;">
        
        <strong>View All </strong></div>
      <div class="w3-col w3-right" style="margin-top: 3px; width: 20px;"><svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.4" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#4caf50"/>
<path d="M10.7397 16.2802C10.5497 16.2802 10.3597 16.2102 10.2097 16.0602C9.91969 15.7702 9.91969 15.2902 10.2097 15.0002L13.2097 12.0002L10.2097 9.00016C9.91969 8.71016 9.91969 8.23016 10.2097 7.94016C10.4997 7.65016 10.9797 7.65016 11.2697 7.94016L14.7997 11.4702C15.0897 11.7602 15.0897 12.2402 14.7997 12.5302L11.2697 16.0602C11.1197 16.2102 10.9297 16.2802 10.7397 16.2802Z" fill="#4caf50"/>
</svg></div>
</div></a>
</div>

    </div>


    <hr style="margin: 0px; margin-bottom: 12px;">
<div class="w3-row" style="padding: 0px;">

 <table style="width: 100%;">
         
              
               <tbody><tr>
                  <th class="w3-left" style="padding-bottom: 12px;">Group Name</th>
                  <th style="padding-bottom: 12px;">Join Link</th>
                </tr>
            
             {% assign ul_Dubai = site.data.Dubai %}

           {% for Dubai in ul_Dubai limit: 10 %}
  <tr>
  <td>{{ Dubai.name }}</td>
    <td><a href="https://{{ Dubai.link }}" target="_blank" rel="noreferrer noopener">Join</a></td>
  </tr>
{% endfor %}

</tbody></table>


</div>

<div class="w3-row w3-center">
     <a href="{{ site.url }}/dubai-whatsapp-group-links.html"><button class="w3-button w3-round-xxlarge w3-green w3-small w3-center  w3-margin-top" style="padding: 6px 20px;">View All Group Links</button>
    </a>
    </div>

<hr style="margin-bottom: 0px;">