<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <style>
    .dark{
      background-color: #303030ee;
      color: white;
    }
    .black {
      background-color: #202020;
      color: white;
    }
    .white {
      background-color: white;
      color: #303030;
    }
    .mySlides {display:none;}
   .HH{
    height: 440px;
   }
   @media only screen and (max-width: 600px) {
  .HH {
    height: 370px;
  }
}
.red{
  background-color: #ff5722;
  color: white;
}
  </style>
  <body>

<!--NAV-->
<div class="w3-row w3-padding w3-top">
<div class="w3-row w3-content dark w3-round-xxlarge w3-margin-top" style="height: 40px;">

  <div class="w3-row w3-left-align">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-small  w3-hover-none black w3-round-xxlarge" style="margin: 6px 7px; padding: 5px 18px;" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu">Menu</a>
    <a href="#" class="w3-button w3-hover-none  w3-white">

      <img src="assets/images/logo.png" style="width: 24px;"> <strong class="w3-small">Vikas Lazarus</strong>

    </a>
    
    <a href="#" class="w3-right w3-bar-item w3-button w3-hide-small w3-round-xxlarge black w3-small" style="margin: 4.5px; padding: 6.5px 12px;">Subscribe</a>
    <a href="#" class="w3-right w3-bar-item w3-button w3-hide-small w3-hover-none  w3-small" style="margin: 3px;">Privacy Policy</a>
    <a href="#" class="w3-right w3-bar-item w3-button w3-hide-small w3-hover-none  w3-small" style="margin: 3px;">Contact Us</a>
    <a href="#" class="w3-right w3-bar-item w3-button w3-hide-small w3-hover-none  w3-small" style="margin: 3px;">About</a>
    <a href="#" class="w3-right w3-bar-item w3-button w3-hide-small w3-hover-none  w3-small" style="margin: 3px;">Home</a>
  </div>
 <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-margin-top w3-round-xxlarge dark w3-hide w3-hide-large w3-hide-medium" style="padding: 24px 0px;">
    <a href="#" class="w3-bar-item w3-transparent w3-button w3-padding-large">Home</a><br>
    <a href="#" class="w3-bar-item w3-transparent w3-button w3-padding-large">About Us</a><br>
    <a href="#" class="w3-bar-item w3-transparent w3-button w3-padding-large">Contact Us</a><br>
    <a href="#" class="w3-bar-item w3-transparent w3-button w3-padding-large">Privacy Policy</a><br>
  </div>

</div>
</div>



 

 


<div class="w3-row w3-display-container">

<div class="w3-display-bottomleft w3-margin w3-hide-large w3-hide-medium">

 <button class="w3-button w3-black white w3-round-xxlarge ML" style="margin-right: 6px;" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black white w3-round-xxlarge" onclick="plusDivs(1)">&#10095;</button>


</div>

<div class="w3-row black mySlides">
  <div class=" w3-col white w3-mobile HH"style="overflow:hidden; width: 45%;">
    <div class="w3-row" style="height: 100%; width: 100%;">
    <img src="https://img.freepik.com/free-photo/portrait-excited-young-woman-dressed-casual-sweater-knitted-hat-showing-ok-sign-against-her-eye_176532-11531.jpg?ga=GA1.1.1651029496.1750483489&semt=ais_items_boosted&w=740" style="overflow: hidden; object-fit: cover; height: 100%; width: 100%;">
  </div>
</div>

<div class="w3-col w3-right w3-hide-small HH" style="width: 10%;"></div>

  <div class="w3-rest w3-mobile black w3-padding HH">
<div class="w3-row w3-hide-small" style="height: 90px;"></div>
     <h2 class="w3-margin-top w3-xlarge"><strong>The Ultimate Guide to [Topic]: Everything You Need to Know</strong></h2>
<div class="w3-row">

    <span class="w3-tag w3-round-xxlarge red w3-small" style="padding: 1px 12px;">New Post</span>
    </div>
     <p>In today’s fast-paced world, finding balance can feel like an impossible challenge. Between work, personal life, and endless distractions, it’s easy to feel overwhelmed. But what if small.</p>
  <div class="w3-hide-small">
 <button class="w3-button w3-black white w3-round-xxlarge ML" style="margin-right: 6px;" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black white w3-round-xxlarge" onclick="plusDivs(1)">&#10095;</button>
</div>

    </div>

    

</div>





<div class="w3-row black mySlides">
  <div class=" w3-col white w3-mobile HH"style="overflow:hidden; width: 45%;">
    <div class="w3-row" style="height: 100%; width: 100%;">
    <img src="https://img.freepik.com/free-photo/beautiful-portrait-teenager-woman_23-2149453383.jpg?ga=GA1.1.1651029496.1750483489&semt=ais_items_boosted&w=740" style="overflow: hidden; object-fit: cover; height: 100%; width: 100%;">
  </div>
</div>

<div class="w3-col w3-right w3-hide-small HH" style="width: 10%;"></div>

  <div class="w3-rest w3-mobile black w3-padding HH">
<div class="w3-row w3-hide-small" style="height: 90px;"></div>
     <h2 class="w3-margin-top w3-xlarge"><strong>Why [Common Belief] Is Wrong (And What to Do Instead)</strong></h2>
<div class="w3-row">

    <span class="w3-tag w3-round-xxlarge red w3-small" style="padding: 1px 12px;">New Post</span>
    </div>
     <p>In today’s fast-paced world, finding balance can feel like an impossible challenge. Between work, personal life, and endless distractions, it’s easy to feel overwhelmed. But what if small.</p>
  <div class="w3-hide-small">
 <button class="w3-button w3-black white w3-round-xxlarge ML" style="margin-right: 6px;" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black white w3-round-xxlarge" onclick="plusDivs(1)">&#10095;</button>
</div>

    </div>

    

</div>





</div>



    {{ content }}
  </body>
  <script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>


</html>
