<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/x-icon" href="images/logo.png">
  <meta name="description"
    content="India travel packages, Himalayan treks, cultural tours, adventure tourism, personalized itineraries.">
  <meta name="keywords"
    content="Himachal Pradesh tourism, India travel packages, Shimla tour, Manali tour, Himalayan treks, cultural tours India, adventure tourism India, tailor-made travel India, experienced travel guides India, unforgettable travel experiences India">
  <meta name="author" content="Tourist hill">
 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
 <script type="application/ld+json">
    {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "description": "{{ page.discription }}",
  "image": "{{ site.url }}/images/logo.png",
  "datePublished": "{{ page.date }}",
  "author": {
    "@type": "Organization",
    "name": "Whatsapp Group Link",
    "image": "{{ site.url }}/images/logo.png",
     "url": "{{ site.url }}"
  }
}
  </script>
  <style>
     td {
    padding: 3px 0px;
  }
    .w3-round2 {
      border-radius: 15px;
    }
    a {
      text-decoration: none;
    }

   body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button,table {font-family: "Montserrat", sans-serif}

    .w3-content {
      max-width: 1100px;
    }


    .swiper {
      width: 100%;
      height: 100%;
    }




    .slide-1 {
      width: fit-content;
    }

    .slide-2 {



      height: 530px;
      width: 320px;
      border-radius: 10px;
    }


  </style>
</head>

<body>



   <!--end-->
<style>
   .aa {
      overflow: hidden;
      width: 15px;
      height: 36px;
      transform: skewX(-20deg);
      background-image: linear-gradient(to right, #ffffff, #ffffff00, #ffffff, #ffffff);
      opacity: 0.3;
      position: absolute;
      animation-name: example;
      animation-duration: 6s;
      animation-timing-function: linear;
      animation-delay: 1s;
      animation-iteration-count: infinite;
      animation-direction: right;
    }

    @keyframes example {
      0% {
        left: 0%;
        top: 0px;
        opacity: 0;
      }

      25% {
        left: 25%;
        top: 0px;
        opacity: 0.3;
      }

      50% {
        left: 50%;
        top: 0px;
        opacity: 0.5;
      }

      75% {
        left: 75%;
        top: 0px;
        opacity: 0.3;
      }

      100% {
        left: 90%;
        top: 0px;
        opacity: 0;
      }
    }
    #more {display: none;}
</style>

    {% include top.md %}
{% include nav.md %}

  <!-- Header -->
   
<div class="w3-content w3-row w3-text-gray w3-margin-top" style="padding:6px 14px; padding-bottom: 0px; overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 1;
           line-clamp: 1; 
   -webkit-box-orient: vertical;"><span class="w3-hover-text-green"> <a href="{{ site.url}}">
    <div class="w3-col" style="width: 20px; padding-top: 2px; padding-right: 3px;"><svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.5" d="M2 12.2039C2 9.91549 2 8.77128 2.5192 7.82274C3.0384 6.87421 3.98695 6.28551 5.88403 5.10813L7.88403 3.86687C9.88939 2.62229 10.8921 2 12 2C13.1079 2 14.1106 2.62229 16.116 3.86687L18.116 5.10812C20.0131 6.28551 20.9616 6.87421 21.4808 7.82274C22 8.77128 22 9.91549 22 12.2039V13.725C22 17.6258 22 19.5763 20.8284 20.7881C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.7881C2 19.5763 2 17.6258 2 13.725V12.2039Z" fill="#4caf50"></path>
<path d="M9 17.25C8.58579 17.25 8.25 17.5858 8.25 18C8.25 18.4142 8.58579 18.75 9 18.75H15C15.4142 18.75 15.75 18.4142 15.75 18C15.75 17.5858 15.4142 17.25 15 17.25H9Z" fill="#4caf50"></path>
</svg></div>
    Home</a></span> / <span class="w3-hover-text-green"> {{ page.title }}</span></div>


<div class="w3-content w3-padding-16 w3-padding">
    <div class="">
      <div class="w3-row w3-white">
        
        
        
<div class="">
        <h1 class="w3-text-dark-gray w3-xlarge"><strong>{{ page.title }}</strong></h1>
 
        <p class="w3-text-grey">{{ page.P1 }}</p>
      <hr style="margin:2px 0px; border-top:2px solid #4CAF60; border-radius:30px; width:40%;" />
    </div>
<div class="w3-row w3-stretch w3-white" style=" padding:12px 0px; z-index: 50; position: -webkit-sticky;
position: sticky;
top: 0;">


<div class="w3-row sticky w3-border-bottom w3-border-light-gray w3-white">
    <div class="w3-row w3-content" style="max-width: 1100px; padding-bottom: 12px;">
      <div class="w3-col s12 m12 l12 w3-white w3-container">
        <div class="w3-col w3-border-right" style="padding-top: 5px; width: 38px;">
           <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.4" d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2Z" fill="#4fca50"/>
<path d="M15.5801 19.2501C15.1701 19.2501 14.8301 18.9101 14.8301 18.5001V14.6001C14.8301 14.1901 15.1701 13.8501 15.5801 13.8501C15.9901 13.8501 16.3301 14.1901 16.3301 14.6001V18.5001C16.3301 18.9101 15.9901 19.2501 15.5801 19.2501Z" fill="#4fca50"/>
<path d="M15.5801 8.2C15.1701 8.2 14.8301 7.86 14.8301 7.45V5.5C14.8301 5.09 15.1701 4.75 15.5801 4.75C15.9901 4.75 16.3301 5.09 16.3301 5.5V7.45C16.3301 7.86 15.9901 8.2 15.5801 8.2Z" fill="#4fca50"/>
<path d="M8.41992 19.2498C8.00992 19.2498 7.66992 18.9098 7.66992 18.4998V16.5498C7.66992 16.1398 8.00992 15.7998 8.41992 15.7998C8.82992 15.7998 9.16992 16.1398 9.16992 16.5498V18.4998C9.16992 18.9098 8.83992 19.2498 8.41992 19.2498Z" fill="#4fca50"/>
<path d="M8.41992 10.15C8.00992 10.15 7.66992 9.81 7.66992 9.4V5.5C7.66992 5.09 8.00992 4.75 8.41992 4.75C8.82992 4.75 9.16992 5.09 9.16992 5.5V9.4C9.16992 9.81 8.83992 10.15 8.41992 10.15Z" fill="#4fca50"/>
<path d="M15.5796 7.33008C14.0796 7.33008 12.8496 8.55008 12.8496 10.0501C12.8496 11.5501 14.0696 12.7801 15.5796 12.7801C17.0796 12.7801 18.2996 11.5601 18.2996 10.0501C18.2996 8.54008 17.0796 7.33008 15.5796 7.33008Z" fill="#4fca50"/>
<path d="M8.41922 11.23C6.91922 11.23 5.69922 12.45 5.69922 13.96C5.69922 15.47 6.91922 16.68 8.41922 16.68C9.91922 16.68 11.1492 15.46 11.1492 13.96C11.1492 12.46 9.92922 11.23 8.41922 11.23Z" fill="#4fca50"/>
</svg>
        </div>
        <!-- Swiper -->
         <div class="w3-rest">
       <div class="w3-white">
        <!-- Swiper -->
        <div class="swiper mySwiper w3-text-gray">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide-1 w3-button w3-hover-none w3-small w3-hover-text-green tablink w3-text-green" onclick="openCity(event,'{{ page.Tab1 }}')">
             
              <strong>{{ page.Tab1}}</strong>
            </div>
            <div class="swiper-slide slide-1 w3-button w3-hover-none w3-small w3-hover-text-green tablink" onclick="openCity(event,'{{ page.Tab2 }}')">
             
              <strong>{{ page.Tab2}}</strong>
            </div>
            <div class="swiper-slide slide-1 w3-button w3-hover-none w3-small w3-hover-text-green tablink" onclick="openCity(event,'{{ page.Tab3 }}')">
              
              <strong>{{ page.Tab3}}</strong>
            </div>
            <div class="swiper-slide slide-1 w3-button w3-hover-none w3-small w3-hover-text-green tablink" onclick="openCity(event,'{{ page.Tab4 }}')">
                
                <strong>{{ page.Tab4}}</strong>
                
              </div>
              <div class="swiper-slide slide-1 w3-button w3-hover-none w3-small w3-hover-text-green tablink" onclick="openCity(event,'{{ page.Tab5 }}')">
                
                <strong>{{ page.Tab5}}</strong>
              </div>
              <div class="swiper-slide slide-1 w3-button w3-hover-none w3-small w3-hover-text-green tablink" onclick="openCity(event,'{{ page.Tab6 }}')">
              
                <strong>{{ page.Tab6}}</strong>
              </div>
<div class="swiper-slide slide-1 w3-button w3-hover-none w3-small w3-hover-text-green tablink" onclick="openCity(event,'{{ page.Tab7 }}')">
              
                <strong>{{ page.Tab7}}</strong>
              </div>
             <div class="swiper-slide slide-1 w3-button w3-hover-none w3-small w3-hover-text-green tablink" onclick="openCity(event,'{{ page.Tab8 }}')">
              
                <strong>{{ page.Tab8}}</strong>
              </div>
<div class="swiper-slide slide-1 w3-button w3-hover-none w3-small w3-hover-text-green tablink" onclick="openCity(event,'{{ page.Tab9 }}')">
              
                <strong>{{ page.Tab9}}</strong>
              </div>

<div class="swiper-slide slide-1 w3-button w3-hover-none w3-small w3-hover-text-green tablink" onclick="openCity(event,'{{ page.Tab10 }}')">
              
                <strong>{{ page.Tab10}}</strong>
              </div>

          </div>

        </div>



      </div>
</div>
      



    </div>
  </div>
</div>


      

</div>

       

<div class="w3-row w3-row-padding w3-content" style="margin:0px -14px;">
  {{ content }}


  











<div class="w3-third space">



  <div class="w3-row w3-margin-top w3-light-grey" style="padding:12px; border-radius: 15px;">
  <h3 class="w3-large">Categories :</h3>
  <hr style="border:1px solid #ffffff; margin:8px 0px;">
 
   {% for post in site.posts %}
    <div class="w3-tag w3-hover-green w3-button w3-small w3-hover-text-white w3-round2 w3-white w3-text-dark-gray" style="padding: 6px 12px;  margin: 3px 1px;">
            
      <strong><a href="{{ post.url }}">{{ post.category }} whatsapp Groups</a></strong>
    </div>
  {% endfor %}  
  
  <hr style="border:0px #ffffff; margin:8px 0px;">
    
  
    
  
  </div>



  <div class="w3-row w3-margin-top w3-display-container" style="padding:12px; height:300px;">
 <div class="w3-display-middle"> Ads Here</div>

  </div>

</div>
</div>




</div>






       </div>
  
      
    </div>
  </div>

     
       
     
     


  <!--about-->


  <script>
    function openCity(evt, cityName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("city");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
         document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-text-green", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " w3-text-green";
    }
    
  </script>
  

  <div class="w3-container w3-padding-64 w3-center w3-border-top w3-border-bottom w3-border-light-gray" style="background-color: hsla(60.882352941178326, 0%, 96%, 1);
    background-image: radial-gradient(circle at 64% 12%, rgba(234, 237, 197, 0.555) 6.688754566361296%, transparent 44.98438254159411%), radial-gradient(circle at 86% 50%, rgba(227, 197, 237, 0.705) 6.688754566361296%, transparent 44.98438254159411%);
    background-blend-mode: darken, normal;">
        <h2 class="w3-xlarge w3-text-dark-gray">Have a WhatsApp Group to Share?</h2>
        <p class="w3-large w3-text-gray w3-padding">Submit your group to reach thousands of potential members</p>
        <a href="{{ site.url}}/submit.html"><button class="w3-button w3-small w3-green w3-round-xxlarge w3-hover-white w3-hover-text-black">
            Submit Your Group
        </button></a>
    </div>

    {% include footer.md %}
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 'auto',
      spaceBetween: 0,
     
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });

    var swiper = new Swiper(".mySwiper2", {
      slidesPerView: "auto",
      spaceBetween: 20,
      

      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
  <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>

    <script>
  function myFunction2(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
  </script>
    </body>
    </html>